
/* Fondo navbar tipo beige claro similar al logo */
footer, .navbar-custom {
    background-color: #FBDCA0 !important;
}

/* Marca del navbar - color y tamaño font */
.navbar-brand {
    color: #000;
    font-size: 3rem;
}

/* Icono hamburguesa color invertido para visibilidad en beige */
.toggler-icon-custom {
    filter: invert(1);
}

/* Peso del texto de los links del navbar */
.nav-font-weight {
    font-weight: 600;
}

.nav-link-custom {
    color: #000;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 3rem;
    margin-right: 6rem; /* Incrementamos el margin-right para mayor separación */
}

.nav-link-custom:last-child {
    margin-right: 0; /* No margen en el último ítem */
}

/* Estilo hover, cambio a café oscuro y subrayado */
.nav-link-custom:hover {
    color: #7A4F01 !important;
    border-bottom: 3px solid #7A4F01;
}

.nav-link i {
  margin-right: 0.5rem; /* espacio entre icono y texto */
  font-size: 2rem; /* tamaño del icono */
  vertical-align: middle;
}

/* Tamaño y ajuste del logo dentro del navbar */
.logo-navbar {
  max-height: 6rem; /* Altura máxima del logo para que no sea muy grande */
  width: auto;      /* Ancho automático para respetar proporción */
  display: block;   /* Bloque para evitar espacios indeseados */
}

/* Ajuste del navbar para que pueda crecer si el logo necesita más espacio */
.navbar {
  min-height: 130px; /* Altura mínima más amplia para no cortarlo */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.custom-toggler i {
  color: #7b4b00 !important;
}


@media (max-width: 576px) {
  .logo-navbar {
    max-height: 80px; /* Sigue siendo más grande pero no tan exagerado */
  }
  .navbar {
    min-height: 90px;
  }
}


/* CARROUSEL */
.carousel-inner img {
  width: 100%;      /* Ocupa todo el ancho del contenedor */
  height: 60vh;     /* Alto relativo a la altura de la ventana */
  object-fit: cover; /* Ajusta la imagen sin distorsión */
}


/* TARJETAS PA LOS PRODUCTOS */
.img-container {
  height: 200px; /* altura fija */
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* para llenar contenedor sin deformar la imagen */
  transition: transform 0.3s ease;
}

.img-container img:hover {
  transform: scale(1.05); /* efecto zoom suave on hover */
}

/* footer */
footer {
  background-color: #FBDCA0 !important; 
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar-custom {
  background-color: #FBDCA0; /* un tono amarillo que usaste en tu footer antes */
}




